@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --main: #FFDC58;
  --overlay: rgba(0, 0, 0, 0.8); /* bg color overlay */

  --bg: #FEF2E8;
  --bw: #fff; /* white and secondary black */
  --blank: #000; /* blank black and white */
  --border: #000;
  --text: #000;
  --mtext: #000; /* text that is placed on background with main color */
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 6px;
  --box-sizing: border-box;
  --box-shadow-x: 5px;
  --box-shadow-y: 6px;
  --reverse-box-shadow-x: -5px;
  --reverse-box-shadow-y: -6px;
  --base-font-weight: 500;
  --heading-font-weight: 700;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

@layer base {
  body {
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 16px;
    gap: 16px;
    background-color: #f7eed7;
  }

  h1 {
    @apply text-2xl font-bold pl-4 pt-2 pb-2;
  }
  h2 {
    @apply text-xl font-semibold pl-4 pt-2;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply italic p-4;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply pl-4 pt-2 pb-4;
  }

  ul {
    @apply list-disc pl-12 pb-4;
  }
  ol {
    @apply list-decimal pl-12 pb-4;
  }
}